* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

div {
    padding: 30px;
}

.header {
    background-color: aqua;
    margin: 0%;
    width: 100%;
}

.header p {
    font-size: x-large;
}

.thoughts p {
    margin: 0%;
    padding: 0%;
    padding-left: 30px;
}